<!DOCTYPE html>
<html>
    <head>
         
        <title>Sprint1</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles/estilos.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <link rel="stylesheet" href="/styles/menudropdown.css">
        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" type="module" src="../scripts/eventos.js"></script>
      
    </head>
    <body>
        <nav>
        <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/">Inicio</a></li>
      <li><a href="/autores">Autores</a></li>
      <li id="textoLogin"><a href="/login">Login</a></li>
     
      </ul>
      
      
      <div class='fondoDropdown'>
      
        <div class="dropdown" style="float:left;">
  <button class="dropbtn">Control de Audio</button>
  <div class="dropdown-content" style="left:0;">
  <label>Activar Voz</label>
            <button id="activarVoz" type="button" onclick="activarVoz()">Activar Voz</button>
            <br>
            <label>Selecciona la voz</label> <br>
            <select id="voice"></select>
            <label for="volume">Volumen</label>
		        <input type="range" min="0" max="5" step="0.5" name="volume" id="volume" value="1">
            <div class="option">
              <label for="rate">Velocidad</label>
              <input type="range" min="1" max="10" step="1" name="rate" id="rate" value="1">
            </div>
            <div class="option">
              <label for="pitch">Pitch</label>
              <input type="range" min="0" max="2" step="0.5" name="pitch" id="pitch" value="1">
            </div>
  </div>
</div>

<div class="dropdown" id="botonUsuario" style="float:right;">
  <button class="dropbtn" >Bienvenid@ <p id="nombreButton"><%=nombre%></p></button>
  <div class="dropdown-content" disabled="disabled">
      <a id="link1" href="/login">Inicia sesion</a>
      <a id="link2">Sobre nosotros</a>
      <a id="link3" >Redes sociales</a>
      
  </div>
</div>
</div>
<script>

$(function(){

  if (<%=boolLog%> != false){
    $("#link1").html("<a href='/perfil'> Tu perfil </a>");
    $("#link2").text("Configuracion");
    $("#link3").html("<a href='/logout'> Cierra sesion </a>");
    $("#textoLogin").html('<a href="/perfil">Perfil</a>')
    $("#enlace-registro").html('<button type="button" id="btn-registrar" >Libros </button>');
    
    
  }
  
})
</script>
</nav>
        
        <header>
            <div class="overlay">
        <section class="cabecera">
            <div id="tituloProyecto">
                <br><br><br>
                <h1 id="titulo">Bibliolector</h1>
            </div>
            <br>
            
        
            <div id="txt-cabecera">
                <br><br>
                <p class="txtparrafo">
                    Sabemos que lo más difícil a la hora de leer es sentase a hacerlo.
                    Aquí puedes encontrar libros y audiolibros gratuitos.
                    Actualizaremos nuestro material cada vez que encontremos libros creative commons o sin derecho de autor.

                </p>
                
            </div>
        
        </div>
        </section>

        <section class="main">
            <div class="botones">
                <a id="enlace-registro">
                   <button type="button" id="btn-registrar" onclick="click_registro()">Registrarse</button>
                </a>
            </section>
                <div>
                    
            </header>
            
    
      <div id="library" name="libros"> 
      
         <% libros.forEach(function(libro) { %>
          <div class="gallery">
            <a href='/recibir/<%-libro.idlibro%>'>
               <img id="libro" src="<%-libro.urlImgLocal%>" alt="Portada <%= libro.Title %>" >
                </a>
                <div class="desc"><%= libro.Title %> -  <%= libro.Author %></div>
                </div> 
         <% }); %>    
  
            </div> 
      </div>
 <br><br>
  
        <footer>
            <nav>
                <ul>
     <li><a href="/">Inicio</a></li>
      <li><a href="#libros">Libros</a></li>
      <li><a href="/autores">Autores</a></li>
 
     
      </ul>
            </nav>
        </footer>
      
        <script src="scripts/form.js"> </script>
        <script src="scripts/eventos.js"></script>
        
       
        <script src="scripts/loadVoices.js"></script>
        <script src="scripts/lecturaVoz.js"></script>
        
        
        

    </body>    
